.container {
  position: absolute;
  margin: 0 auto;
  width: 720px;
  left: 200px;
}

nav {
  position: fixed;
  float: left;
  top: 0;
  width: 150px;
  min-width: 15px;
  overflow: hidden;
  height: 1000px;
  left: -100px;
  background-color: gray;
  border-right: 3px solid #383838;
}

nav ul {
 padding-left: 0;
}

nav ul li {
  list-style: none;
  border-bottom: 1px solid #383838;
  font-family: "Arial", serif;
  padding: 5px 0 5px 0;
}

a {
   color: #383838;
   text-decoration: none;
}

.container {
  position: absolute;
}

.content {
}

.footer {
  clear: both;
}